body {
    font-family: Candarell, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
  }
  
  header {
    background: #2571a0;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
  }
  
  nav a, a {
    margin: 0 10px;
    color: rgb(20, 56, 3);
    text-decoration: none;
  }
  
  section {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background: #fff;
    margin-bottom: 20px;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  .project img {
    max-width: 100%;
    height: auto;
  }
  
  footer {
    text-align: center;
    padding: 5px;
    background:  #2571a0;
    color: white;
  }
  